{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["lodash", { "id": ["lodash", "semantic-ui-react"] }]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    }
  }
}
